@model CodeFlow.Web.Models.QuestionViewModel

@{
    var isAuthor = Model.IsAuthor;
}

<div class="row">
    <div class="col-12 so-question-title">@Model.Title</div>
</div>
<div class="row justify-content-start">
    <div class="col-8 so-postdate">
        Asked on @Model.CreatedAt.ToString("MMM dd, yyyy 'at' h:mm tt") by 
        <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@Model.User?.Id">
            <strong>@Model.User?.DisplayName</strong>
        </a>
    </div>
</div>
<div class="d-flex justify-content-end align-items-center mb-4 gap-3">
    @if (isAuthor)
    {
        <div class="flex-column">
            <a class="text-decoration-none" asp-controller="Questions" asp-action="Edit" asp-route-id="@Model.Id">
                <i class="fas fa-pen-to-square text-opacity-50" style="color: cadetblue"></i>
            </a>
        </div>
        <div>
            <form asp-controller="Questions" asp-action="Delete" method="post" asp-route-questionId="@Model.Id">
                @Html.AntiForgeryToken()
                <button class="so-delete-icon-button" type="submit">
                    <i class="fas fa-trash text-opacity-50" style="color: cadetblue"></i>
                </button>
            </form>
        </div>
    }
    else
    {
        @if (User.Identity!.IsAuthenticated)
        {
            <div class="flex-column">
                <a class="text-decoration-none" asp-controller="Flag" asp-action="Report" asp-route-postType="Question" asp-route-postId="@Model.Id">
                    <i class="fas fa-flag text-opacity-50" style="color: cadetblue"></i>
                </a>
            </div>
        }
    }
</div>