@model CodeFlow.Web.Models.QuestionViewModel

@{
    var isAuthor = Model.IsAuthor;
}

<div class="col-1">
    <div>
        <a asp-controller="Profile" asp-action="UserProfile" asp-route-id="@Model.UserId">
            <div class="d-flex align-items-center justify-content-center rounded-circle" style="background-color: aliceblue; width: 50px; height: 50px; border: 1px solid grey">
                <img id="ProfileImage" style="width: 40px; height: 40px"
                     src="@Url.Action("ProfileImage", "Profile", new { id = Model.UserId })"
                     class="rounded-circle" />
            </div>
        </a>
    </div>
    <div class="m-3">
        @if (!User.Identity!.IsAuthenticated)
        {
            <a class="text-decoration-none" asp-controller="Account" asp-action="Login">
                <i class="fa-solid fa-caret-up fa-2x text-muted"></i>
            </a>
            <div class="score fs-5 fw-bold my-1 ps-1" id="question-score-@Model.Id">@Model.Score</div>
            <a class="text-decoration-none" asp-controller="Account" asp-action="Login">
                <i class="fas fa-caret-down fa-2x text-muted"></i>
            </a>
        }
        else if (!Model.IsAuthor)
        {
            <a href="#" class="vote-link" data-type="question" data-id="@Model.Id" data-vote="1">
                <i class="fa-solid fa-caret-up fa-2x" style="color:@(Model.CurrentVote == 1 ? "grey" : "lightgrey")"></i>
            </a>
            <div class="score fs-5 fw-bold my-1 ps-1" id="question-score-@Model.Id">@Model.Score</div>
            <a href="#" class="vote-link" data-type="question" data-id="@Model.Id" data-vote="-1">
                <i class="fas fa-caret-down fa-2x" style="color:@(Model.CurrentVote == -1 ? "grey" : "lightgrey")"></i>
            </a>
        }
    </div>
</div>
